* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #62727b;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1.5px 1.5px 4px #000;
}

#header {
  margin: 0;
  width: 100%;
  background: #37474f;
  overflow: hidden;
  box-shadow: 0 5px 5px -5px #333;
}

#logo {
  margin: 0;
  padding: 10px;
  float: left;
}
#logo img {
  margin: auto;
  border-radius: 50%;
  width: 100px;
  transition: 0.5s;
  box-shadow: 3px 5px 5px -2px #333;
}
#logo img:hover {
  transform: scale(1.15, 1.15);
}

#header-right {
  float: right;
  padding: 36.8px;
  overflow: hidden;
}
#header-right a {
  padding: 16px;
  color: #FFF;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  display: block;
  float: left;
  transition: 0.5s;
}
#header-right a:hover {
  background: rgba(230, 230, 230, 0.4);
}
#header-right-button {
  padding: 52.8px 40px;
  color: #FFF;
  float: right;
  display: none;
  transform: scale(2, 1.5);
}
#header::after {
    content: "";
    display: table;
    clear: both;
}
#section {
  color: #FFF;
}

#nav {
  float: left;
  margin: 0;
  width: 20%;
}

.gallery-title {
  margin: 10px;
  padding: 16px;
  border-radius: 5px;
  background-color: #29b6f6;
  box-shadow: 3px 5px 5px -2px #333;
  overflow: hidden;
}

#article {
  float: left;
  margin: 0;
  width: 80%;
}

#section::after {
    content: "";
    display: table;
    clear: both;
}

.book {
  overflow: hidden;
  margin: 24px;
  padding: 12px;
}

div.gallery {
  width: 210px;
  height: 270px;
  margin: 16px;
  padding: 10px;
  float: left;
  background: #718792;
  border-radius: 5px;
  box-shadow: 3px 5px 5px -2px #333;
  transition: 0.5s;
}
div.gallery:hover {
  opacity: 0.4;
}
div.gallery img {
  margin: 0;
  width: 100%;
  border-radius: 4px;
}
div.description {
  font-size: 24px;
  margin: 0;
  text-align: center;
  width: 100%;
  background:
  border-radius: 4px;
  overflow: hidden;
}

#footer {
  margin: 0;
  padding: 16px;
  width: 100%;
  background: #37474f;
  color: #FFF;
  text-align: center;
  box-shadow: 0 -5px 5px -5px #333;
}
#footer a {
  color: #FFF;
  text-decoration: none;
  transition: 0.5s;
}
#footer a:hover {
  border-bottom: 2px solid #FFF;
}

.icon {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.naruto-title {
  background: #EA9828;
}
.db-title {
  background: #F85B1A;
}

@media only screen and (max-width: 712px) {
  #header-right {
    padding: 5px 20px;
    clear: both;
    display: none;
    float: none;
  }
  #header-right a {
    display: block;
    float: none;
    text-align: left;
  }
  #header-right-button {
    display: block;
  }
  #nav, #article {
    width: 100%;
  }

  div.gallery {
    margin: 8px;
    padding: 10px;
    width: 44%;
    height: auto;
    float: left;
  }
  div.description {
    height: 48px;
    font-size: 16px;
  }
}
